{% extends 'core/base.html' %}
{% block content %}

<ul>
{% for item in added_items %}
    <li> {{ item }} </li>
    <a href="{% url 'agregar' item.product_id.id %}" class= "btn btn-primary">Agregar 1</a>
    <a href="{% url 'restar' item.product_id.id %}" class= "btn btn-secondary">Restar</a>
    <a href="{% url 'borrar' item.product_id.id %}" class= "btn btn-danger">Borrar Item</a>
{% endfor %}
</ul>
<ul>
<a href="{% url 'limpiar' %}" class= "btn btn-warning">Limpiar el carrito</a>
<a href="{% url 'confirmar' %}" class= "btn btn-success">Confirmar el carrito</a>
</ul>
<!-- <form action="" method="POST">
  {% csrf_token %}
  {{form}}
  <div class="btn">
    <input type="submit" id="boton" value="Confirmar">
  </div>
</form> -->
{% endblock content %}