{% extends 'core/base.html' %}
{% block content %}
<header>
  <h1 class="text-center">  Carrito de Compras:</h1>
</header>
<div class="container-fluid">
  <div class="row" style="margin-bottom: 20px">
    <div class="col-3 text-center"> 
        <a href="{% url 'limpiar' %}" class= "btn btn-warning" style=" width: 70%; margin: 0.01rem;">Limpiar el carrito</a>
    </div>
    <div class="col-3 text-center"> 
        <a href="{% url 'confirmar' %}" class= "btn btn-success" style=" width: 70%; margin: 0.01rem;">Confirmar el carrito</a>
    </div>
  </div>
  <div class="container">
    {% for item in added_items %}
      <div class="row align-items-center m-2">
        <div class="col-4">
          <img style="width:20%;" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" src="{{item.product_id.image.url}}" alt="{{product.codename}}.jpg">
          <li>{{ item.cantidad }} - {{ item.product_id.name }} </li>
        </div>
        <div class="col-2">
          <a href="{% url 'agregar' item.product_id.id %}" class= "btn btn-primary" style=" width: 70%; margin: 0.1rem;" >Agregar +1</a>
          <a href="{% url 'restar' item.product_id.id %}" class= "btn btn-secondary" style=" width: 70%; margin: 0.1rem;">Restar -1</a>
          <a href="{% url 'borrar' item.product_id.id %}" class= "btn btn-danger" style=" width: 70%; margin: 0.1rem;">Borrar Item</a>
        </div>  
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}