{% extends 'core/base.html' %}

{% block title %}Home{% endblock title %}
{% load static %}

<!-- Content -->
{% block content %}
<header>
    <div class="header_text">
        <h1>Cuchuflito Electronics</h1>
    </div>
</header>

<div class=presentation>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe eos omnis laudantium nam quasi reiciendis ab accusamus labore. Nostrum cum magnam eveniet quibusdam necessitatibus dicta ea sint quas aperiam porro!
    Voluptate doloribus quis atque, omnis aut, facere praesentium pariatur distinctio dolor necessitatibus beatae amet, consequuntur vel est aliquid ex adipisci architecto expedita dignissimos ipsum quasi optio. Ducimus reprehenderit soluta harum?
    Explicabo earum neque dignissimos soluta, voluptas non, consequatur, placeat libero maxime assumenda quis debitis ad tempora? Similique iusto pariatur culpa animi nam possimus et cupiditate. Nemo laudantium error hic culpa!
    Maiores unde dolores beatae error, suscipit eum quibusdam esse facere, nulla libero possimus numquam eaque ab, laboriosam non saepe nihil. Libero incidunt eveniet pariatur doloremque, at sed nemo nisi explicabo.
    Hic architecto doloribus quaerat consectetur incidunt soluta sit enim saepe quod, in tenetur iure maxime labore est temporibus esse, vitae alias! Maxime fugiat quae mollitia libero magnam sint maiores incidunt.
    Magni excepturi magnam harum inventore assumenda nam omnis quod quis consequatur ab. Reiciendis voluptatem quo iste, in omnis natus quis aperiam laudantium dolorum voluptatibus dicta architecto cumque doloribus! Nam, a.
    Molestias dignissimos mollitia similique, excepturi eaque porro nulla modi, a eveniet quasi perspiciatis at animi dolorum velit. Porro nesciunt quidem, tempora incidunt eius reprehenderit ut et ratione placeat atque earum.
    Unde asperiores amet delectus libero corrupti tempora accusantium, ex mollitia quam ipsa voluptatem consequatur sunt. Veritatis praesentium provident sapiente eum asperiores voluptatibus, repellendus dolor suscipit expedita quam amet inventore nemo?
    Explicabo laudantium et, dolor nihil eaque quia consequuntur esse cupiditate excepturi molestiae provident, repellendus a minima. Odit, nam eius fuga voluptatem soluta ipsa voluptates dolore accusantium magni rem modi porro!
    Dolor sapiente nihil qui distinctio ipsum molestiae ducimus. Quibusdam ut molestias et quas odio, laborum veniam similique atque, modi adipisci, maxime recusandae repudiandae fugiat. Repudiandae maiores porro laborum consequatur labore.</p>
</div>

{% endblock content %}

