{% extends 'core/base.html' %}

{% block title %}Home{% endblock title %}
{% load static %}

<!-- Content -->
{% block content %}
<header>
    <div class="header_text">
        <h1>Cuchuflito Electronics</h1>
    </div>
</header>

<div class=presentation>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe eos omnis laudantium nam quasi reiciendis ab accusamus labore. Nostrum cum magnam eveniet quibusdam necessitatibus dicta ea sint quas aperiam porro!
    Voluptate doloribus quis atque, omnis aut, facere praesentium pariatur distinctio dolor necessitatibus beatae amet, consequuntur vel est aliquid ex adipisci architecto expedita dignissimos ipsum quasi optio. Ducimus reprehenderit soluta harum?
    Explicabo earum neque dignissimos soluta, voluptas non, consequatur, placeat libero maxime assumenda quis debitis ad tempora? Similique iusto pariatur culpa animi nam possimus et cupiditate. Nemo laudantium error hic culpa!
   quas odio, laborum veniam similique atque, modi adipisci, maxime recusandae repudiandae fugiat. Repudiandae maiores porro laborum consequatur labore.</p>
</div>

<h2>OFERTAS</h2>
{% for item in productoss %}
<div class="container">
  <div class="row ">
    <div class="col-8">
      <li style=" width: 60%;" >  <img data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" src="{{item.image.url}}" alt="{{product.codename}}.jpg" class= "img-fluid"></li>
    <li style="color:red; font-weight:bold;">{{ item.name }}  a solo {{ item.price }} !!</li>
    <hr>
    </div>
</div>
</div>
{% endfor %}
</ul>
{% endblock content %}

