{% extends 'core/base.html' %}
{% block titulo %}Grupo 3{% endblock titulo %}
{% load static %}

{% block content %}


    <div class="row ">
        <div class="col-8">
<h3>Quienes somos: Grupo 3</h3>
</div>
</div>

<div class="row text-center" style="background-color:#000080; color: #ffffff;">
<ul>
    <li>Federico Viggiani</li>
        <li>Iran Mederos </li>
            <li>  Fernando Palmeiro</li>
                <li>  Luciana De Micco  </li>
                    <li>   Cecilia Fontana</li>
    </ul>
</div>
{% endblock content %}