* {
  font-family: 'Montserrat', sans-serif;
}


.galeria img{
    width: 20%;
    height: 400px;
    padding: 20px;     
}

main{
    margin-top: 50px;
    width: 100%;
  }
  @media screen and (max-width: 640px) {
    main {
        margin-top: 230px;
    }
    }