*{
    display: grid;
    margin: 0;
    padding: 0;
}
head{
    display: none;
}
nav {
    grid-row-start: -1;
    grid-row-end: 2;
}
p,h1{
    margin: 0;
    padding: 0;
}
.header_text{
    align-content: space-around;
    justify-content: space-around;
    background-color: black;
    color: white;
}
main {
    grid-row-start: 3;
    grid-row-end: 10;
}

footer{
    grid-row-start: 11;
    grid-row-end: 12;
}
.footer_text{
    display: flex;
    align-self: center
}
.icon{
    width: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: white;
    border:0.5rem;
}
.icons{
    display: flex;
    justify-content: center;    
}