.icon{
    width: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: white;
    border:0.5rem;
}
.icons{
    display: flex;
    justify-content: center;    
}
header{
    color: white;
    background-color: darkblue;
}
form{
    display: grid;
}

.carrito{
    display:grid;
}
/* *{
    display: grid;
    margin: 0;
    padding: 0;
}
head{
    display: none;
}
nav {
    grid-row: 1/2;
    grid-column: 1/-1;
}

main {
    grid-row: 3/10;
    grid-column: -1/-1;
}
header{
    grid-row:-1/2;
    color: white;
    background-color: rgb(16, 0, 87);
    flex-direction: column;
}
.header_text>h1,.header_text>p{
    display: flex;
    align-content: center;
    justify-content: center;
}

.carousel-item active{
    width: 100rem;
    height: 70rem;
}

.map,.contact_form{
    padding: 0.5rem;
    margin: 1rem;
    grid-row: 1/-1;
}

.contact_form{
    grid-column: 1/2;
}

.map{
    grid-column: 3/12;
}

.map>h3{
    grid-column: 1/-1;
    grid-row: 1/12;}
.map>p{
    grid-column: 1/-1;
    grid-row: 2/12;}

.gmap{
    grid-column: 1/-1;
    grid-row: 3/12;
    width: 100%;
    height: 100%;
}

footer{
    grid-row-start: 11;
    grid-row-end: 12;
}
.footer_text{
    display: flex;
    justify-self: center;
    flex-direction: column;
}
.icon{
    width: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: white;
    border:0.5rem;
}
.icons{
    display: flex;
    justify-content: center;    
}

.big-card-image{
    display: flex;
    width: 60rem;
    height: 60rem;
    align-items: center; 
} */
