{% extends 'core/base.html'%}
{% block title %}{{product.name}}{% endblock title %}

{% block navbar %}{% endblock %}

{% block content %}
<h2 class="section-heading m-3">{{object.name}}</h2>
<div class="card mb-4 box-shadow">
    <img class="big-card-image" src="{{object.image.url}}" alt={{object.codename}}.jpg>
    <div class="card-body">
        <p class="card-text">{{object.name}} marca {{object.brand}}</p>
        <p class="card-text">Precio de contado: {{object.price}} más iva</p>
        <!--agregar referencia a la funcion add del carrito-->
        <a href="cart:add" class= "btn btn-success">Añadir al carrito</a>

    </div>
</div>
{% endblock content%}