{% extends 'core/base.html'%}
{% block title %}Catálogo{% endblock title %}
{% block navbar %}{% endblock %}
{% block content %}
<header>
        <h1 class="text-center">Catálogo de productos</h1>
        <p class="text-center">A continuación están nuestros productos en oferta</p>
</header>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for product in product_list %}
            <div class="card col-md-4">
                <a href = "{% url 'catalog:product' product.id product.name|slugify %}">
                    <div class="card mb-4 box-shadow">
                        <img data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" src="{{product.image.url}}" alt="{{product.codename}}.jpg" class= "img-fluid">
                        <div class="card-body">
                        <p class="card-text mb-1 text-center">{{product.name}} marca {{product.brand}}</p>
                        {% if user.is_authenticated %}
                        <p class="card-text mb-1 text-center">Precio de contado: ${{product.price}} más iva</p>
                        <a href="{% url 'catalog:agregar' product.id %}" class= "btn btn-success">Añadir 1 al carrito</a>
                        {% endif %}
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content%}